<p id="notice"><%= notice %></p>

<p>
  <b>Folder:</b>
  <%= @comment.folder_id %>
</p>

<p>
  <b>Username:</b>
  <%= @comment.username %>
</p>

<p>
  <b>Updated at:</b>
  <%= @comment.updated_at %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
